
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/api/account/register">
        <label for="">Account Number</label>
        <input type="text" name="AccountNumber" id="AccountNumber"><br>
        <label for="">Account Type</label>
        <input type="text" name="AccountType" id="AccountType"><br>
        <label for="">CustomerID</label>
        <input type="text" name="CustomerID" id="CustomerID"><br>
        <label for="">Account Opening Date</label>
        <input type="text" name="AoD" id="AoD"><br>
        <label for="">BranchID</label>
        <input type="text" name="BranchID" id="BranchID"><br>
        <label for="">Balance</label>
        <input type="text" name="Balance" id="Balance"><br>
        <label for="">PIN Number</label>
        <input type="text" name="PIN_Number" id="PIN_Number"><br>
        <input type="submit">
    </form>
</body>
</html>