<html>
    <body>
        <form method="POST" action="/api/customer/register">
            <label for="">CustomerID</label>
            <input type="text" name="CustomerID" id="CustomerID"><br>
            <label for="">MobileNumber</label>
            <input type="text" name="MobileNumber" id="MobileNumber"><br>
            <label for="">Password</label>
            <input type="text" name="Password" id="Password"><br>
            <label for="">Password2</label>
            <input type="text" name="Password2" id="Password2"><br>
            <label for="">Aadhar Number</label>
            <input type="text" name="Aadhar_Number" id="Aadhar_Number"><br>
            <label for="">DoB</label>
            <input type="text" name="DoB" id="DoB"><br>
            <label for="">First Name</label>
            <input type="text" name="C_First_Name" id="C_First_Name"><br>
            <label for="">Middle Name</label>
            <input type="text" name="C_Middle_Name" id="C_Middle_Name"><br>
            <label for="">Last Name</label>
            <input type="text" name="C_Last_Name" id="C_Last_Name"><br>
            <label for="">City</label>
            <input type="text" name="City" id="City"><br>
            <label for="">Occupation</label>
            <input type="text" name="Occupation" id="Occupation"><br>
            <input type="submit">
        </form>

        <a href="/views/account.html">Account</a></p>
    </body>
</html>